certifi==2020.6.20
Flask==1.1.2
Flask-Cors==3.0.9
h5py==2.10.0
itsdangerous==1.1.0
Jinja2==2.11.2
json5==0.9.5
Keras-Preprocessing==1.1.2
MarkupSafe file:///opt/concourse/worker/volumes/live/cb778296-98db-45ad-411e-6f726e102dc3/volume/markupsafe_1594371638608/work
numpy==1.18.5
pickleshare file:///opt/concourse/worker/volumes/live/93ec39d8-05bb-4f84-7efc-98735bc39b70/volume/pickleshare_1594384101884/work
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
urllib3 file:///tmp/build/80754af9/urllib3_1603305693037/work
Werkzeug==1.0.1