body.busy-cursor {
    cursor: wait;
  }

#page-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

#myText{
    width:600px;
    height:31px;
    font-size: 8pt;
}